h1 {
  color: var(--header);
  display: flex;
  justify-content: center;
}

.search-bar {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 30px;
}
.sub-header{
  display: flex;
  justify-content: center;
  
}
.rules-button{
  height: 35px;
  margin-bottom: 20px;
  margin-right: 50px;
  justify-content: center;
  background-color: var(--other);
  color: var(--text);
  border-radius: 35px;

}
.rules-button:hover{
  background-color: var(--highlight);
}
.form-button{
  background-color: var(--other);
  color: var(--text);
  height: 35px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 50px;
  border-radius: 35px;
  
}
.form-button:hover{
  background-color: var(--highlight);
}

.fancy-table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  color: var(--text)
}

.fancy-table tr,
.fancy-table td {
  padding: 5px;
  min-width: 20vw;
}

.fancy-table tr:nth-child(even) {
  background: var(--other);
}

.fancy-table tr:first-of-type{
  background-color: var(--highlight);
  font-size: 20px;
  font-weight: bold;
}

.page-select {
  display: inline-flex;
  justify-content: center;
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border-color: var(--text);

  font-size: 20px;
  font-weight: bold;

  background: var(--highlight);
  color: var(--text);
}
.page{
  justify-content: center;
  display:flex;
}
.page-number{
  display: inline-flex;
  justify-content: center;
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 20px;
}

.page-select:hover {
  background: var(--text);
  color: var(--highlight);
  border-color: var(--highlight);
}
.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  display: flex;
}
.footer li{
  float: left; 
  text-decoration: none; 
  padding: 2px; 
  list-style-type: none;
}
.footer a{
  color: var(--text);
}
.rules li{
  list-style: decimal;
  color: var(--text);
  font-size: 20px;
  margin-left: 30px;
  margin-top: 10px;
}
.back{
  display: block;
  justify-content: center;
  width: 100%;
  border: none;
  color: var(--text);
  background-color: var(--other);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 100px;  
}